{% load static %}
<footer class="header header--loggedIn">
    <div class="container">
        <div class="roomListRoom__author">
            <a>Doniyor™</a>
            <a target="_blank" href="http://www.t.me/stiv_rogers">Telegram</a>
            <a target="_blank" href="http://www.instagram.com/dabduhakimov21">Instagram</a>
            <a target="_blank" href="http://www.facebook.com/dabduhakimov21">Facebook</a>
            <a target="_blank" href="http://www.github.com/doniyorpdf">GitHub</a>
        </div>
        <div class="header__menu">
            <p>All rights reserved ©</p>
        </div>
    </div>
  </footer>
